.text-click-off {
  display: none;
  cursor:pointer;
  color:red;
}

.text-click {
  cursor:pointer;
  color:red;

}
.text-click:hover{
  text-decoration: underline;
}

.text-click-off:hover{
  text-decoration: underline;
}

button {
  margin: 30px;
}

.body-yellow-class{
  background-color: yellow;
}

.body-green-class{
  background-color: green;
}

.body-red-class{
  background-color: red;
}

button.yellow-color {
  background-color: yellow;
}

button.green-color {
  background-color: green;
}

button.red-color {
  background-color: red;
}
